$background-color: #2dcba9;
$background-color-dark: #196a56;
$white: #fff;
body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  padding: 50px 0;
  font-weight: 800;
  margin: 0;
  letter-spacing: -1px;
  color: inherit;
  font-size: 40px;
}

.center {
  text-align: center;
}

.headline {
  padding-bottom: 0;
}

.header {
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 30px;
  background-color: $background-color;
}

%content {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: $background-color;
  color: white;
  font-size: 30px;
  height: 100%;
  width: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  flex: auto;
}

.onScroll {
  margin-top: 20%;
  color: $background-color;
}

.onScrollVisible {
  opacity: 1;
  transform: translateY(0);
}


.page {
  display: flex;
  flex-flow: column;
  height: 100%;
}

nav {
  width: 80%;
  margin: 0 auto;
  background: $white;
  padding: 50px 0;
  box-shadow: 0px 5px 0px #dedede;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  position: relative;
  z-index: 1;
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

nav ul li a {
  transition: all .5s;

}

nav ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: $background-color;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: all .5s;
}

nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: #196a56;
}

nav ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}