@import "base";
$color: #2dcba9;

.content {
  @extend %content;
  background: url(sources/marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 1300px;
}


.button {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #196a56;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    cursor: pointer;
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}

#spotify_result{
  visibility: hidden;
  font-size: 30px;
}