<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../static/base.css">
    <title>{% block title %} - My Site {% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<h1 class="headline">DHBW Software-Engineering</h1>
<nav>
    <ul>
        {% for item in nav.top %}
            <li>
                <a href="{{ item.url }}">{{ item.label }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
<div class="page">
    <div class="header">
        {% block header %}{% endblock %}
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>