{% extends 'base.html' %}
{% block stylesheets %}
    <link rel="stylesheet" href="../static/wiki.css">
    <script src="../static/javascript/wiki.js"></script>

{% endblock %}

{% block header %}
    <h1>Wiki</h1>
    <p>Diese Seite ist die Übung 2</p>
{% endblock %}
{% block content %}

    <label for="wikipediaSearchText">Wikipedia Suche</label>

    <div class="wikiDiv">
        <input type="text" id="wikipediaSearchText" name="text" placeholder="Text">
        <input type="submit" value="Wikipedia Suche" onclick="onWikipediaButtonClick()">
    </div>
    <div id="wiki_info"></div>

{% endblock %}